[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"sc2" = "*"
numpy = "*"
opencv-python = "*"
keras = "*"
tensorflow-gpu = "*"
loguru = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
